.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}


.cell {
    box-sizing: border-box;
    height: 37.5px;
    width: 37.5px;
    border: 1px solid black;
    flex: 0 0 auto;
    background-color: #fff;
    
}

/* .square:hover {
    background-color: lightblue;
} */

/* .square:active {
    background-color: lightsalmon;
} */